[submodule "turtlebot_ws/src/ld08_driver"]
	path = turtlebot_ws/src/ld08_driver
	url = https://github.com/ROBOTIS-GIT/ld08_driver.git
	branch = humble
[submodule "turtlebot_ws/src/turtlebot3"]
	path = turtlebot_ws/src/turtlebot3
	url = https://github.com/ROBOTIS-GIT/turtlebot3.git
	branch = humble
[submodule "woofbot_ws/src/turtlebot3"]
	path = woofbot_ws/src/turtlebot3
	url = https://github.com/maiabriggs/turtlebot3-woofbot.git
	branch = humble
	
[submodule "woofbot_ws/src/libcamera"]
	path = woofbot_ws/src/libcamera
	url = https://github.com/raspberrypi/libcamera.git

[submodule "woofbot_ws/src/rpicam-apps"]
	path = woofbot_ws/src/rpicam-apps
	url = https://github.com/raspberrypi/rpicam-apps.git

